In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('pokemon_data.csv')
print(df.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [50]:
df['Total'] = df.iloc[:,4:12].sum(axis =1)

In [51]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319.0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310.0

In [52]:
cols = list(df.columns)

In [53]:
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [56]:
df = df[cols[0:4] + [(cols[-1])] + cols[4:12]]

In [57]:
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,319.0,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,406.0,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,526.0,80,82,83,100,100,80,1,False

In [59]:
df.to_csv('Modified.csv',index = False)

In [61]:
df.to_excel('Modified.xlsx',index = False)

In [62]:
df.to_csv('Modified.txt',index = False, sep='\t')

In [67]:
new_df = df.loc[(df['Type 1'] =='Grass') & (df['Type 2'] == 'Poison')]

In [75]:
print(new_df)

    index    #                   Name Type 1  Type 2  Total   HP  Attack  \
0       0    1              Bulbasaur  Grass  Poison  319.0   45      49
1       1    2                Ivysaur  Grass  Poison  406.0   60      62
2       2    3               Venusaur  Grass  Poison  526.0   80      82
3       3    3  VenusaurMega Venusaur  Grass  Poison  626.0   80     100
4      48   43                 Oddish  Grass  Poison  321.0   45      50
5      49   44                  Gloom  Grass  Poison  396.0   60      65
6      50   45              Vileplume  Grass  Poison  491.0   75      80
7      75   69             Bellsprout  Grass  Poison  301.0   50      75
8      76   70             Weepinbell  Grass  Poison  391.0   65      90
9      77   71             Victreebel  Grass  Poison  491.0   80     105
10    344  315                Roselia  Grass  Poison  403.0   50      60
11    451  406                  Budew  Grass  Poison  284.0   40      30
12    452  407               Roserade  Grass  Poison  519.0   60      70
13    651  590                Foongus  Grass  Poison  299.0   69      55
14    652  591              Amoonguss  Grass  Poison  469.0  114      85

    Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        49       65       65     45           1      False
1        63       80       80     60           1      False
2        83      100      100     80           1      False
3       123      122      120     80           1      False
4        55       75       65     30           1      False
5        70       85       75     40           1      False
6        85      110       90     50           1      False
7        35       70       30     40           1      False
8        50       85       45     55           1      False
9        65      100       70     70           1      False
10       45      100       80     65           3      False
11       35       50       70     55           4      False
12       65      125      105     90           4      False
13       45       55       55     15           5      False
14       70       85       80     30           5      False

In [76]:
new_df = new_df.reset_index(drop = True)

In [77]:
print(new_df)

    index    #                   Name Type 1  Type 2  Total   HP  Attack  \
0       0    1              Bulbasaur  Grass  Poison  319.0   45      49
1       1    2                Ivysaur  Grass  Poison  406.0   60      62
2       2    3               Venusaur  Grass  Poison  526.0   80      82
3       3    3  VenusaurMega Venusaur  Grass  Poison  626.0   80     100
4      48   43                 Oddish  Grass  Poison  321.0   45      50
5      49   44                  Gloom  Grass  Poison  396.0   60      65
6      50   45              Vileplume  Grass  Poison  491.0   75      80
7      75   69             Bellsprout  Grass  Poison  301.0   50      75
8      76   70             Weepinbell  Grass  Poison  391.0   65      90
9      77   71             Victreebel  Grass  Poison  491.0   80     105
10    344  315                Roselia  Grass  Poison  403.0   50      60
11    451  406                  Budew  Grass  Poison  284.0   40      30
12    452  407               Roserade  Grass  Poison  519.0   60      70
13    651  590                Foongus  Grass  Poison  299.0   69      55
14    652  591              Amoonguss  Grass  Poison  469.0  114      85

    Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        49       65       65     45           1      False
1        63       80       80     60           1      False
2        83      100      100     80           1      False
3       123      122      120     80           1      False
4        55       75       65     30           1      False
5        70       85       75     40           1      False
6        85      110       90     50           1      False
7        35       70       30     40           1      False
8        50       85       45     55           1      False
9        65      100       70     70           1      False
10       45      100       80     65           3      False
11       35       50       70     55           4      False
12       65      125      105     90           4      False
13       45       55       55     15           5      False
14       70       85       80     30           5      False

In [79]:
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,319.0,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,406.0,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,526.0,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,310.0,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,406.0,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,607.0,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,607.0,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,607.0,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,687.0,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,607.0,80,110,120,130,90,70,6,True

In [80]:
df.loc[df['Type 1']=='Fire','Type 1'] = 'FlameThrower'

In [81]:
print(df)

       #                   Name        Type 1  Type 2  Total  HP  Attack  \
0      1              Bulbasaur         Grass  Poison  319.0  45      49
1      2                Ivysaur         Grass  Poison  406.0  60      62
2      3               Venusaur         Grass  Poison  526.0  80      82
3      3  VenusaurMega Venusaur         Grass  Poison  626.0  80     100
4      4             Charmander  FlameThrower     NaN  310.0  39      52
..   ...                    ...           ...     ...    ...  ..     ...
795  719                Diancie          Rock   Fairy  607.0  50     100
796  719    DiancieMega Diancie          Rock   Fairy  707.0  50     160
797  720    HoopaHoopa Confined       Psychic   Ghost  607.0  80     110
798  720     HoopaHoopa Unbound       Psychic    Dark  687.0  80     160
799  721              Volcanion  FlameThrower   Water  607.0  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[800 rows x 13 columns]

In [87]:
df.groupby(['Type 1']).mean().sort_values('Defense',ascending= False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Steel,442.851852,491.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,457.295455,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,554.781250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,440.781250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,443.812500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,433.348214,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,437.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,424.542857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,382.144928,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,449.838710,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,401.678571,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
FlameThrower,327.403846,461.384615,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,479.578947,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,446.772727,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,491.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,419.814815,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,417.352941,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,404.755102,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408